
#BG {
    position: absolute;
    z-index: 1;
    width: 1024px;
    height: 768px;
    top: 0px;
    left: 0px;
}

#scroll,
#drag {
    position: absolute;
    width: 100%;
    height: 0;
    opacity: 0;
    z-index: 7;
}

img.va-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.35 !important;
}

img.va-disabled.va-disabled-art {
    opacity: 1 !important;
}

#AN_TT {
    position: absolute;
    z-index: 2;
    width: 704.5px;
    height: 130.5px;
    top: 20px;
    left: 64px;
}

#AN_ICON_01 {
    position: absolute;
    z-index: 3;
    width: 99.5px;
    height: 79.7px;
    top: 218.5px;
    left: 98.5px;
}

#AN_BOX_01 {
    position: absolute;
    z-index: 4;
    width: 260px;
    height: 305.5px;
    top: 330.5px;
    left: 20px;
}

#AN_ICON_02 {
    position: absolute;
    z-index: 5;
    width: 97.7px;
    height: 106.7px;
    top: 205px;
    left: 400.4px;
}

#AN_BOX_02 {
    position: absolute;
    z-index: 6;
    width: 236px;
    height: 305.5px;
    top: 330.5px;
    left: 328.5px;
}

#AN_ICON_03 {
    position: absolute;
    z-index: 7;
    width: 162px;
    height: 106.7px;
    top: 205px;
    left: 726.2px;
}

#AN_BOX_03 {
    position: absolute;
    z-index: 8;
    width: 358px;
    height: 348px;
    top: 330.5px;
    left: 624px;
}

#ST_SLIDE_BTN_NEXT {
    position: absolute;
    z-index: 9;
    width: 44px;
    height: 44px;
    top: 709px;
    left: 965px;
}

#ST_SLIDE_BTN_PREV {
    position: absolute;
    z-index: 10;
    width: 44px;
    height: 44px;
    top: 709px;
    left: 847px;
}

#ST_BTN_REF {
    position: absolute;
    z-index: 11;
    width: 44px;
    height: 44px;
    top: 74px;
    left: 965px;
}

#ST_BTN_HOME {
    position: absolute;
    z-index: 12;
    width: 44px;
    height: 44px;
    top: 15px;
    left: 965px;
}

#ST_BTN_MENU {
    position: absolute;
    z-index: 13;
    width: 44px;
    height: 44px;
    top: 709px;
    left: 906px;
}
